USE [master]
GO
/****** Object:  Database [DapperDB]    Script Date: 5/6/2023 12:52:55 AM ******/
CREATE DATABASE [DapperDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DapperDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DapperDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DapperDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DapperDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DapperDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DapperDB]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 5/6/2023 12:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Address] [nvarchar](200) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[AddStudent]    Script Date: 5/6/2023 12:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AddStudent]
@name varchar(500),
@address varchar(500)
AS
INSERT INTO Student(Name,Address) VALUES(@name,@address)
GO
/****** Object:  StoredProcedure [dbo].[DeleteStudent]    Script Date: 5/6/2023 12:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DeleteStudent]
@id int
AS
DELETE FROM Student WHERE Id=@id
GO
/****** Object:  StoredProcedure [dbo].[GetAllStudent]    Script Date: 5/6/2023 12:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetAllStudent]
AS
SELECT * FROM Student
GO
/****** Object:  StoredProcedure [dbo].[GetStudentById]    Script Date: 5/6/2023 12:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetStudentById]
@id int
AS
SELECT * FROM Student WHERE Id=@id
GO
/****** Object:  StoredProcedure [dbo].[UpdateStudent]    Script Date: 5/6/2023 12:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateStudent]
@id int,
@name varchar(500),
@address varchar(500)
AS
UPDATE Student SET Name=@name,Address=@address WHERE Id=@id
GO
USE [master]
GO
